/GuiTest01/nbproject/private/
/GuiTest01/build/
/GuiTest01/dist/
/GuiTest02/nbproject/private/
/GuiTest02/dist/
/GuiTest02/build/
/MenuTest/nbproject/private/
/MenuTest/dist/
/MenuTest/build/
/FXMLButton/nbproject/private/
/FXMLButton/dist/
/FXMLButton/build/
/FXMLmenu/nbproject/private/
/FXMLmenu/dist/
/FXMLmenu/build/